body{
    margin: 0;
    padding: 0;
    background-color: #F3F4F6; 
}
.container-d {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #F3F4F6;
}

.container-d h1{
    font-family: var(--font-heading);
    font-size: var(--font-size-h);
    font-weight: var(--font-waight-bold);
    color: var(--color-black);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.col{
    margin: 0px;
    padding: 0px;
}
.row{
    margin: 0px;
    padding: 0px;
}
.Boxs{
   
    display: flex;
    gap: 15px;
    padding: 10px 20px 20px 20px ; 
    flex-wrap: wrap;
    margin: 0px !important;
    justify-content: space-between;
    align-items: center;
}
.box-heading{
    display: flex;
      gap: 5px;
      justify-content: center;
      text-align: center;
      align-items: center;
      justify-content: space-between;
}
.box-heading p{
     padding-top: 5px;}
.Box h2{
    color: var(--color-black);
    justify-content: space-around;
}
.box-heading img{
    width: 35px;
}

.Box{
background-color: white;
padding: 15px 15px 50px 15px !important;
border-radius: 20px;
box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);

}
.box-discription{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.inventory-container{
    padding: 20px;
}
.inventory{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}
.inventory-graph{
    margin-top: 30px;
    background-color: #E5E7EB;
    border-radius: 10px;
    height: 250px;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;

}