body{
    margin: 0;
    padding: 0;
    background-color: #F3F4F6; 
}
.container-i {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  padding: 0px 20px;
}
.inventory_btn{
    background-color: #059669;
    color: white;
     padding: 10px 55px;
     border-radius: 8px;
     border: none;
}
.inventory_btn:hover {
    background-color: #037f4c;
    color: white;
    border: none;
    transition: 0.5s ease-in-out;
}
.input_search{
    width: 75%;
}
.search{
    background-color: white;
    border-radius: 10px;
    padding: 18px 23px;
}
.input_search input{
    padding: 23px;
}
.Categories-btn{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: white;
    color: #000000;
}
.Categories-btn:hover {
    background-color: #059669;
    color: white;
    border: none;
    transition: 0.5s ease-in-out;
}
.Categories-btn img{
    width: 14px;
    padding-left: 4px;
   
}
.medicane_data{
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    margin-top: 20px;
 
}
.inventory-actions a{
    text-decoration: none;
}