:root {
  --color-primary: #1C1B54;
  --color-secondary: #37C3E7;
  --color-green: #4AB950;
  --color-black: #000000;
  --color-btn:#059669;
  --font-heading:'Montserrat';
  --font-size-h: 40px;
  --font-waight-bold: 700;
  --font-waight-light: 400;
  --font-size-p: 20px;
  --color-border:#989898;
  --color-white:#ffffff;
  --color-header-bg: #1E3A8A;
  --color-header-btn:#EC221F;
}
h2{
    font-family: var(--font-heading);
    font-size: var(--font-size-h);
    font-weight: var(--font-waight-bold);
    color: var(--color-black);
     margin: 0;
}
p{
    font-family: var(--font-heading);
    font-size: var(--font-size-p);
    font-weight: var(--font-waight-light);
    color: var(--color-black);
     margin: 0;
}
html, body {
  margin: 0;
  padding: 0;

}

.container-login {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;          
  background-color: rgba(171, 175, 175, 0.151);
  display: flex;
  justify-content: center;     
  align-items: center;         
  min-height: 100vh;          
  overflow: hidden;            
}
img{
    width: 45%;
}


.login{
     border-radius: 30px;
     width: 35%;
    text-align: center;
    background-color: #ffffff;
      justify-content: center;
      padding: 0 50px 30px 50px;
    
}
.ip {
  color: var(--color-primary);
}
.i {
  color: var(--color-secondary);
}
.m {
  color: var(--color-green);
}
.p-credentials{
    margin-bottom: 20px;
    margin-top: 10px;
}
.coloum{
    flex-direction: row;
}
.checkbox{

}
.forget{
    margin-left: auto;
}
.main{
    display: flex;
    justify-content: space-around;
    
}
input{
   width: 98%;
   border-radius: 8px ;
   padding-left: 15px;
    border: 1px solid var(--color-border);
    height: 30px;
}
.input{
    margin-bottom: 15px;
    
}
.remember{
    width: 15px;
    height: 15px;
}
.btn-login{
    padding: 12px 100px 12px  100px;
    background-color: var(--color-btn);
    border-radius: 8px;
    border: 1px ;
    margin-top: 20px;
    margin-bottom: 25px;
    color: var(--color-bg);
}
.btn-login:hover{
    background-color: var(--color-primary);
    transition: 0.5s ease-in-out;
    color: var(--color-bg);
}
a{
    text-decoration: none;
    color: var(--color-btn);
}
a:hover{
    color: var(--color-primary);
    transition: 0.5s ease-in-out;
}