body{
    margin: 0;
    padding: 0;
    background-color: #F3F4F6; 
}
.container-s{
    max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
padding: 0 20px;
}
.container-s h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.medicane_suppliers{
     background-color: white;
    border-radius: 15px;
    padding: 25px;
    margin-top: 20px;
    max-height: 80vh;
}